:root{
    --color-primary:#2ea3f2;
    --color-text: #666;
}
*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    color:var(--color-text)
}

/* layout*/
nav {
    display:flex;
    width: 100vw;
    height: 80px;
    background-color: var(--color-primary);
    align-items: center;
    justify-content: center;
}
nav ul{
    list-style-type:none ;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 90vw;
}
nav ul li a{
    text-decoration: none;
    color: beige;
    text-transform:uppercase ;
    padding: 10px;

}
nav ul li a:hover{
    color:var(--color-text)
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 50px;
    justify-content: flex-start;
    align-items: center;
}
.list{
    display :flex;
    flex-direction: column;
    border: 1px solid var(--color-text);
    border-radius:10px ;
    width: 50%;
    list-style-type: none;
}


.list   li {   
    border-bottom: 1px solid var(--color-text);
    justify-content:space-between ;
   align-content: flex-end;
    display: flex;
    width: 100%;
     padding: 15px;   

}
.btn{
    padding:  5px 10px;
    text-align: center;
    text-decoration: none;
}
.btn-detail {
    background-color: var(--color-primary);
    color: white;

}
.btn-detail:hover{
    background-color:white;
    color:var(--color-primary)

}
.btn-edit{
     background-color: darkgoldenrod;
     color:white;
     
}
.btn-edit:hover{
     background-color: #666;
     color: darkgoldenrod;
}

.btn-delete{
    background-color: #e1365b;
    color:white

}
.btn-delete:hover{
    background-color: #666;
    color:#e1365b
}

.search{
       margin: 20px ;
       width: 50%;
}
.search-bar{
    padding: 10px;
    border-radius: 15px;
    width: 50%;
}
.search-btn{
    width: 25%;
    background-color: rgb(34, 104, 215);
    color: white;
    outline: none;
    box-shadow: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;

}
.search-btn:hover{
    background-color: beige;
    color: #2ea3f2;
    border-radius: 20px;
  
}
.aux-btns{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 10px;

}
.aux-btns a{
    padding-right: 10px;
    text-decoration: none;
}

.cards{
    display:flex;
    justify-content: space-around;
}
.card{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin:50px;
    background-color: var(--color-primary);
    text-decoration: none;
}
.card:hover{
    background-color: var(--color-text);
    color:var(--color-primary);
}