{% extends  'layouts/base.html' %}
{% block 'title' %} Crear Contactos {% endblock %}

{% block 'styles' %}

{% load static %}

<link rel='stylesheet' href='/static/css/forms.css'>
{% endblock %}

{% block 'content' %}

<span class="aux-btns-form"><a class="" href="{% url 'todo' %}">Volver atras</a>
</span>
<form  action="{% url 'todo_create'  %}" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>  
    <div class="btn-wrapper">
    <input type="submit" value="Enviar" class="btn-env">
    </div>

</form>

{% endblock %}