{% extends 'layouts/base.html' %}

{% block 'title' %} Todo{% endblock %}

{% block 'content' %}
<h1>Tareas</h1>
{% include 'todo/partials/search.html' %}
 <span class="aux-btns"><a class="" href="{% url 'todo' %}">Ver todos</a>
         <a href="{% url 'todo_create' %}">Añadir</a></span>
<ul class="list">
   {% for  todo in todos %}  
<li> {{todo}} 
    <span> 
      <a class="btn btn-detail" href="{% url 'todo_view' id=todo.id %}">ver</a>
          <a class="btn btn-edit" href="{% url 'todo_edit' id=todo.id %}">Editar</a>
          <a class="btn btn-delete" href="{% url 'todo_delete' id=todo.id %}">Borrar</a>
    </span>
    {% endfor %}
   </li>
  
</ul>

{% endblock %}