{% extends  'layouts/base.html' %}
{% block 'title' %} Crear Contactos {% endblock %}

{% block 'styles' %}

{% load static %}

<link rel='stylesheet' href='/static/css/forms.css'>
{% endblock %}

{% block 'content' %}
{% if messages %}
<ul class="messages">
{% for message in messages%}
<li{% if message.tags %} class="alertsuccess"{% endif %}>{{message}}</li>
{% endfor %}
</ul>
{% endif %}
<span class="aux-btns-form"><a class="" href="{% url 'contact' %}">Volver atras</a>
</span>
<form  action="{% url 'contact_create'  %}" method="POST">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>  
    <div class="btn-wrapper">
    <input type="submit" value="Enviar" class="btn-env">
    </div>

</form>

{% endblock %}